.body p{
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    text-wrap: pretty;
  }


  .body a{
    color: #005AAD; /* Blue color for links */
    text-decoration: underline; /* Underline for links */
    cursor: pointer; /* Change cursor to a pointer on hover */
  }
  
  .body a:hover{
    color: #1F186B; 
  }
  
  .body ul {
    padding-left: 20px; /* Adjust as needed */
  }
  
  .body ol {
    padding-left: 20px; /* Adjust as needed */
  }
  
  
  /* Add default list item styles */
  .body li {
    list-style: initial; /* Use default bullet or number */
  }

  .body h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    line-height: normal;
    text-wrap: pretty; 
  }
  
  .body h2 {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 32px;
    font-weight: bold;
    line-height: normal;
    text-wrap: pretty;  }

    .body h3 {
      margin-bottom: 28px;
      margin-top: 32px;
      font-size: 24px;
      font-weight: bold;
      line-height: normal;
      text-wrap: pretty;  }

  .card {
    color: #9e9e9e; /* This is an example color for 'soft grey', adjust this value as needed */
    font-size: 16px; /* Equivalent to 'text-base', which is often the browser default or 1rem */
    font-weight: normal; /* 'font-normal' */
    margin-top: 8px; /* 'mt-2' assuming 1 unit equals 4px in your scale */
    overflow: hidden; /* 'overflow-hidden' */
    text-overflow: ellipsis; /* Works in tandem with 'white-space' and 'overflow' to show an ellipsis */
    display: -webkit-box; /* Necessary for '-webkit-line-clamp' */
    -webkit-box-orient: vertical; /* Necessary for '-webkit-line-clamp' */
    -webkit-line-clamp: 3; /* Limits text to 3 lines */
    line-height: 1.2; /* Adjust based on your design, ensures '-webkit-line-clamp' works as expected */
  }
  
  /* If you need a fallback for browsers that do not support -webkit-line-clamp */
  .no-line-clamp .card {
    white-space: nowrap;
  }